

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  background-color:#576E34;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

main {
  flex-grow: 2;
  padding-top: 5rem;
}

footer {
  background-color: #273314;
  color: white;
  flex-grow: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #273314;
  flex-grow: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 100px;
}

.nav-list {
  display: flex;
  margin: 0px;
  flex-grow: 1;
}

.nav-item {
  list-style: none;
  margin-left: 3rem;
  font-size: 2rem;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.nav-link:hover {
  color: #E8F0DA;
}

.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

h1 {
  color: white;
  font-size: 10rem;
  line-height: 0.8;
  margin-bottom: 3rem;
}

.container {
  width: 80%;
  align-self: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-header {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.product-card {
  padding: 2rem;
  background-color: #273314;
  color: white;
  width: 25%;
  border-radius: 15px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.product-title {
  font-size: 2.5rem;
}

.product-text {
  font-size: 1.2rem;
  margin-top: 0px;
}

.header-text {
  max-width: 72ch;
  font-size: 1.5rem;
  color: white;
}

.header-row {
  display: flex;
}

.header-presentation {
  flex-grow: 3;
  margin-right: 5rem;
  width: 60%;
}


button {
  border-radius: 0px;
  width: 100%;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color:#273314;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

.social {
  display: flex;
  align-items: center;
  color: white;
}

.social-icons {
  display: flex;
  flex-grow: 1;
}

.social-icon {
  margin-left: 1rem;
  width: 32px;
  height: 32px;
}

.derechos {
  display: flex;
  align-items: center;
}

.copyleft {
  width: 1rem;
  height: auto;
  margin-right: 0.5rem;
}

.reviews {
  display: flex;
  flex-direction: column;
}

.review-card {
  border-radius: 15px;
  background-color: #273314;
  color: white;
  display: flex;
  justify-content: between;
  padding: 2rem;
  margin-bottom: 5rem;
}

.review-img {
  width: 10%;
  object-fit: cover;
}

.review-text {
  background-color: white;
  color:#273314;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 25px;
  font-size: 3rem;
  align-self: start;
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: 75%;
}

.triangle {
  width: 0; height: 0;
  border-style: solid;
  border-width: 50px 50px 0px 0px;
  border-color: #fff transparent transparent transparent;
  margin-top: -30px;
}

section {
  margin-bottom: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.25rem;
}

.h-30px {
  height: 30px;
}

.h-big {
  height: 200px;
}

.button-border {
  border: 3px dashed #273314;
}

.mt-3r {
  margin-top: 3rem;
}

.separator {
  border-top: 3px dashed #273314;
}

.last {
  margin-bottom: 0px;
}


@media screen and (max-width: 992px) {
  .nav-img {
    display: none;
  }
  
  .nav-list {
    flex-direction: column;
    padding-left: 0px;
    text-align: center;
  }

  .nav-item {
    margin-left: 0px;
  }

  .header-presentation {
    width: 100%;
    margin-right: 0px;
  }

  h1 {
    font-size: 4rem;
  }

  .header-img-container {
    display: none;
  }

  header {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  section {
    margin-bottom: 6rem;
  }

  .section-header {
    font-size: 2.5rem;
  }

  .product-card {
    width: 100%;
  }

  .product-title {
    font-size: 2rem;
  }

  button {
    font-size: 1.3rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .form {
    width: 100%;
  }

  .review-card {
    flex-direction: column;
  }

  .review-img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .speech-bubble {
    margin-left: 0px;
    width: 100%;
  }

  .review-text-p {
    margin: 0px;
    font-size: 2rem;
  }

  .review-text {
    padding: 1.1rem;
  }


  footer {
    flex-direction: column;
  }


}


@media screen and (max-width: 768px) {
  .triangle {
    display: none;
  }

  .review-card {
    flex-direction: column;
  }

}
@media screen and (min-width: 576px) and (max-width: 768px) {
  button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .product-title {
    font-size: 4rem;
  }

  .product-text {
    margin-bottom: 2rem;
  }

  .section-header {
    font-size: 5rem;
  }

  .review-img {
    margin-bottom: 0px;
    width: 30%;
    margin-right: 2rem;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .product-card {
    width: 35%;
  }

  .review-card {
    flex-direction: row;
  }

  .review-img {
    margin-bottom: 0px;
    width: 30%;
    margin-right: 2rem;
  }

  .speech-bubble {
    width: 70%;
  }

  .review-text {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-list {
    padding: 0px;
    justify-content: space-between;
  }

  h1 {
    font-size: 8rem;
  }

  .product-card {
    width: 40%;
  }

  .review-img {
    width: 25%;
  }

  .speech-bubble {
    width: 75%;
  }

  .form {
    width: 100%;
  }
}


@media screen and (max-width: 714px) {
  .separator-img-container {
    display: flex;
    justify-content: center;
    margin-top: -13%;
  }

  .separator-img {
    width: 25%;
  }
}

/* Logo */

@media screen and (min-width: 714px) and (max-width: 1300px) {
  .separator-img {
    width: 15%;
  }

  .separator-img-container {
    display: flex;
    justify-content: center;
    margin-top: -8%;
  }

  .header-img-container {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .header-img-container {
    flex-grow: 1;
    width: 25%;
  }

  .header-img {
    width: 100%;
  }

  .nav-list {
    justify-content: end;
  }
}